<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feri.mapper.LanguageabilityMapper" >
  <resultMap id="BaseResultMap" type="com.feri.pojo.Languageability" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="Languages" property="languages" jdbcType="VARCHAR" />
    <result column="ability" property="ability" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, Languages, ability
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_languageability
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_languageability
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.feri.pojo.Languageability" >
    update t_languageability
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="languages != null" >
        Languages = #{languages,jdbcType=VARCHAR},
      </if>
      <if test="ability != null" >
        ability = #{ability,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertSelective" parameterType="com.feri.pojo.Languageability" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_languageability
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="languages != null" >
        Languages,
      </if>
      <if test="ability != null" >
        ability,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="languages != null" >
        #{languages,jdbcType=VARCHAR},
      </if>
      <if test="ability != null" >
        #{ability,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>